*, ::before, ::after
    box-sizing: border-box
body
    margin: 0
    padding: 0
    background-color: #ffffff
#burger__toggle
    opacity: 0
.burger
    display: flex
    align-items: center
    position: relative
    cursor: pointer
    z-index: 1
    &__btn
        background-color: #E8E8E8
        display: block  
        z-index: 100
        width: 32px
        height: 3px
        position: absolute
        top: 0
        right: 5px
        &::before
            content: " "
            background-color: #E8E8E8
            display: block  
            z-index: 100
            width: 32px
            height: 3px
            position: absolute
            top: -9px
        &::after
            content: " "
            background-color: #E8E8E8
            display: block  
            z-index: 100
            width: 32px
            height: 3px
            position: absolute
            top: 9px 
            
       
