@media  ( max-width: 1124px  )
    .header
        &__menu
            padding: 18px 20px
    .services
        &__item
            grid-template-columns: repeat(3, 1fr)
    .new-arrivals
        &__wrap
            padding: 0 16px
    .filters
        &__wrap
            padding: 0 16px
        &__right
            margin-right: 250px
    .subscribe
        height: 638px
        padding: 50px 0
        box-shadow: inset 0px 244px 22px 1px rgba(255, 255, 255,  0.7),  inset 0px 638px 0px 0px rgba(244, 244, 244,  0.7)
    .footer 
        padding: 0 20px
@media  ( max-width: 768px  )
    .header
        &__menu
            padding: 18px 32px
    .hero
        height: 386px
        &__brand_right
            padding-left: 30px
        &__title
            font-size: 24px
            &_huge
                font-size: 42px
                line-height: 53px
    .new-arrivals
        &__wrap
            padding: 0 16px
    .swiper
        &-container
            height: 624px
        &-slide
            height: 624px
            &__img
                width: 466px
                height: 565px
                margin: 30px 0
    .collection
        margin-top: 0
    .collection-products
        &__list
            grid-template-columns: repeat(2,  1fr)
            grid-gap: 16px
            padding: 0 16px
        &__card
            &_2
               grid-row: 1/2
            &_3
                display: none
    .filters
        &__wrap
            padding: 0 16px
            margin: 24px 0 40px 
            justify-content: space-between            
        &__right
            margin-right: 0               
            &_title
                font-size: 12px
                line-height: 14px
                margin: 0  9px 0 24px
    .catalog
        &__list
            grid-template-columns: repeat(2, 1fr)
            grid-gap: 16px
            padding: 0 16px
        &__card
            &_3
                display: none   
    .offer
        grid-template-rows: 167px 116px
        grid-gap: 19px
        padding: 65px 16px
    .products
        &-title
            margin-bottom: 72px
        &__items
            grid-template-columns: repeat( 2, 1fr)
            grid-gap: 14px
            padding: 0 18px
        &__button
            margin-top: 32px    
    .services 
        margin-top: 64px
        &__item
            grid-template-columns: 1fr
            grid-gap: 48px
            padding: 48px 0 64px 
    .subscribe
        padding: 0
        &__item
            flex-direction: column
            padding: 63px 5px 120px
        &__box
            margin-bottom: 48px
@media  ( max-width: 376px  )
    .header
        &__menu
            padding: 16px 18px         
        &__icon
           display: none
        &__cart
            display: none
    .hero
        &__brand_left
            display: none
        &__brand_right
            justify-content: center
            align-items: center
            padding-left: 0
            flex-basis: 100%
        &__title
            margin-right: 0
            font-size: 20px
            font-weight: 900
            &_huge
                font-size: 38px
                font-weight: 700
    .new-arrivals
        &__wrap
           flex-direction: column
           justify-content: space-evenly
        &__title
            margin: 0 
    .filterLabel
        display: none
    .filterIcon
        margin-left: 0
    .filters__wrap
        padding: 0 8px
    .swiper
        &-container
            
            height: 624px
        &-slide
            width: 375px
            height: 624px
            &__img
                width: 374px
                height: 454px
                margin: 85px 0 
    .collection
        &__description
            line-height: 20px
            padding: 0 24px
        &__dropdown
            margin-top: 82px
            &::before
                width: 175px
                left: 85px
                bottom: 65px
            &_quantity:last-child
                margin-right: -10px
            &_title
                font-size: 10px
                line-height: 12px
    .collection-products
        padding: 64px 0
        &__list
            grid-template-columns: 1fr
            grid-gap: 0
            padding: 0 16px
        &__card
            &_2
                display: none
            &_3
                display: inline-block
    .catalog
        &__list
            grid-template-columns: 1fr
            grid-gap: 16px
            padding: 0 8px
        &__img
            width: 342px
        &__card
            &_3
                display: none      
    .offer
        grid-template-columns: 1fr
        grid-template-rows: repeat(3,  247px) 111px
        grid-gap: 32px
    .products
        &-title
            margin-bottom: 64px
        &__items
            grid-template-columns: 1fr
            grid-gap: 15px
            padding: 0 8px
        &__button
            margin-top: 41px
    .services 
        margin-top: 96px
        &__item
            grid-template-columns: 1fr
            grid-gap: 46px
            padding: 48px 0 81px 
    .subscribe
        &__item
            flex-direction: column
            padding: 64px 5px 110px
        &__box
            margin-bottom: 58px
        &__description
            font-size: 18px
        &__subtitle
            font-size: 14px
        &__input
            width: 220px
            height: 45px
        &__submit
            padding: 15px 23px
    .footer
        &__wrap
            flex-direction: column-reverse
            justify-content: center
            height: 143px
        &__copy
            margin: 0
        &__social
            margin: 43px 0  40px

