.footer
    display: grid
    grid-template-columns: repeat(auto-fill , minmax(200px, 758px))
    background-color: $black
    align-items: center
    justify-items: center
    justify-content: center
    height: 79px
    &__copy
        font-size: 16px
        line-height: 19px
        color: $light-text
    &__social
        margin-left: 215px
    &__icon
        width: 31px
        height: 32px
        margin-right: 3px

