.footer
    background: $black
    &__wrap
        display: flex
        justify-content: space-between
        align-items: center
        height: 79px
    &__copy
        font-size: 16px
        line-height: 19px
        color: $light-text
        margin: 0
        padding-left: 11px
        padding-top: 10px
        font-weight: 400
        +regular
    &__social
        display: flex
        margin-top: 8px  
    &__link
        display: flex
        justify-content: center
        align-items: center
        text-decoration: none
        margin-right: 5px
        width: 32px
        height: 32px
        background-color: #fff
        &:hover
            background-color: $red-text 
    &__icon
        fill: $black
        &:hover
            fill: #fff
            
       
       
        
        
        

