.header
    background: $black
    &__menu
        display: flex
        justify-content: space-between
        align-items: center
        text-align: center  
        padding: 18px 0
    &__left
        display: flex
        justify-content: space-between
        align-items: center  
    &__logo
        width: 44px
        height: 38px
        margin-right: 41px
    &__search
        width: 26px
        height: 27px
        margin-top: 11px
    &__right
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 10px
    &__bars
        width: 32px
        height: 23px
        cursor: pointer
    &__icon
        width: 29px
        height: 29px  
        margin: 0 35px 0 32px  
        cursor: pointer 
    &__cart
        width: 32px
        height: 29px
        position: relative 
        cursor: pointer
        &_counter
            position: absolute
            top: -10px
            left: 20px
            width: 19px
            height: 19px
            background-color: $red-text
            font-size: 12px
            line-height: 20px
            border-radius: 50%
            text-align: center
            color: $light-text

    
        