.offer
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 260px  180px
    align-items: center
    justify-self: center
    justify-content: center
    grid-gap: 30px
    padding: 65px 0  100px
    &__card
        height: 100%
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        &-1
            background: url("../img/women.jpg")
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7)
        &-2
            background: url("../img/men.jpg")
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7)
        &-3
            background: url("../img/kids.jpg")
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7)
        &-4
            background: url("../img/accesories.jpg")
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7)
    &__accesories
        grid-column: 1/-1 
    &__title
        line-height: 26px
        font-size: 16px
        color: $light-text
        text-transform: uppercase
        font-weight: 300
        +regular
        &_red
            display: block
            font-size: 24px
            line-height: 29px
            font-weight: 700
            +bold
    &__link 
        text-decoration: none
        color:  $red-text