.products
    display: grid
    grid-template-columns: repeat(auto-fill , minmax(200px, 360px))
    justify-self: center
    justify-content: center
    grid-gap: 30px
    padding: 0 5px
    &__title   
        font-size: 30px
        line-height: 36px
        margin: 0
        color: $menu-color
    &__subtitle
        font-size: 14px
        line-height: 17px
        color: $darkgrey-text
        margin: 0
    &-title  
        grid-column-start: 1
        grid-column-end: -1
        height: 120px
        text-align: center
        align-content: end
        padding-bottom: 20px
    &__button
        grid-column-start: 1
        grid-column-end: -1
        justify-self: center
        font-size: 16px
        line-height: 20px
        padding: 15px 39px
        border: 1px solid $red-text
        color: $red-text
        cursor: pointer
        outline: none
        background-color:  transparent
        &:hover
           background-color: $hover
           color: $light-text
.card
    display: grid
    text-align: left 
    background-color:  $card-color
    &__wrapper
        position: relative
        &:hover
           .card__mask
                display: flex         
    &__mask
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: none
        justify-content: center
        align-items: center
        background: rgba(58, 56, 56, 0.86) 
    &__btn
        display: flex
        align-items: center
        color: $light-text
        background: none
        padding: 10px 15px
        border: 1px solid $light-text
    &__icon
        width: 26px
        height: 23px
        margin-right: 11px
    &__text
        font-size: 14px
        +regular
    &__inner
        margin: 20px
    &__title
        text-transform: uppercase
        margin-top: 0
        color: $dark-text
        +regular  
    &__description
        font-size: 14px
        line-height: 17px
        color: $darkgrey-text
        +regular
    &__img
        width: 100%
        height:  420px
        object-fit: cover
        display: block
    &__cost
        font-size: 16px
        line-height: 19px
        color: $red-text
        +regular
       

        