.services
    background-color: $black
    margin-top: 95px
    &__item
        display: grid
        grid-template-columns: repeat(3, 1fr)
        justify-self: center
        justify-content: center
        grid-gap: 30px
        padding: 100px 0
    &__box
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center

    &__img
        width: 44px
        height: 40px
    &__title
        font-size: 19.6px
        line-height: 24px
        letter-spacing: 0.3px
        color: $light-text
        font-weight: 400
        padding-right: 9px
        margin: 24px 0 16px
        +regular
    &__description
        font-size: 14px
        line-height: 16.77px
        color: $light-text
        font-weight: 300
        margin: 0
        position: relative
        left: 8px
        width: 306px
        +light