@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato-Italic';
  src: url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

*, ::before, ::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#burger__toggle {
  opacity: 0; }

.burger {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 1; }
  .burger__btn {
    background-color: #E8E8E8;
    display: block;
    z-index: 100;
    width: 32px;
    height: 3px;
    position: absolute;
    top: 0;
    right: 5px; }
    .burger__btn::before {
      content: " ";
      background-color: #E8E8E8;
      display: block;
      z-index: 100;
      width: 32px;
      height: 3px;
      position: absolute;
      top: -9px; }
    .burger__btn::after {
      content: " ";
      background-color: #E8E8E8;
      display: block;
      z-index: 100;
      width: 32px;
      height: 3px;
      position: absolute;
      top: 9px; }

.header {
  display: grid;
  grid-template-rows: 1fr 8.6fr;
  min-height: 100vh;
  align-items: center;
  background: url("../img/header_bg.png");
  background-repeat: no-repeat;
  background-position: left 10% bottom;
  background-size: 44%;
  background-color: #F1E4E6; }
  .header__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 0.2fr 1fr;
    background-color: #222224;
    align-items: center;
    min-height: 75px;
    grid-template-areas: "header__logo header__search header__burger header__icon header__basket"; }
  .header__logo {
    grid-area: header__logo;
    justify-self: end; }
  .header__search {
    grid-area: header__search;
    margin-left: 40px;
    margin-top: 10px; }
  .header__burger {
    grid-area: header__burger;
    justify-self: end; }
  .header__icon {
    grid-area: header__icon;
    justify-self: center;
    margin: 0 25px; }
  .header__basket {
    grid-area: header__basket; }
  .header__heading {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: " . header__title . "; }
  .header__title {
    grid-area: header__title;
    justify-self: end;
    max-width: 425px;
    text-align: left;
    margin-right: 30px;
    position: relative;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-family: 'Lato-Refular' , sans-serif; }
    .header__title::before {
      content: " ";
      display: flex;
      position: absolute;
      top: 0;
      left: -16px;
      width: 12px;
      height: 92px;
      background-color: #F16D7F; }
    .header__title_huge {
      font-size: 48px;
      line-height: 58px;
      font-weight: 900; }
    .header__title_red {
      color: #F16D7F; }

.offer {
  display: grid;
  grid-template-columns: minmax(100px, 360px) minmax(100px, 360px) minmax(100px, 360px);
  grid-template-rows: 260px 180px;
  grid-template-areas: "offer__women offer__men offer__kids"  "offer__accesories offer__accesories offer__accesories";
  align-items: center;
  justify-self: center;
  justify-content: center;
  grid-template: "";
  grid-gap: 30px;
  padding: 65px 5px; }
  .offer__women {
    display: grid;
    grid-area: offer__women;
    background: #222224 url("../img/women.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7); }
  .offer__men {
    display: grid;
    grid-area: offer__men;
    background: #222224 url("../img/men.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7); }
  .offer__kids {
    display: grid;
    grid-area: offer__kids;
    background: #222224 url("../img/kids.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7); }
  .offer__accesories {
    display: grid;
    grid-area: offer__accesories;
    background: #222224 url("../img/accesories.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7); }
  .offer__title {
    justify-self: center;
    align-self: center;
    text-align: center;
    line-height: 22px;
    font-size: 16px;
    color: #FBFBFB;
    text-transform: uppercase;
    font-family: 'Lato-Refular' , sans-serif; }
    .offer__title_red {
      font-size: 24px;
      color: #F16D7F;
      line-height: 30px;
      font-family: 'Lato-Bold', sans-serif; }
