@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato-Italic';
  src: url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

*, ::before, ::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: sans-serif; }

img {
  width: 100%;
  height: 100%; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.header {
  background: #222224; }
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 18px 0; }
  .header__left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    width: 44px;
    height: 38px;
    margin-right: 41px; }
  .header__search {
    width: 26px;
    height: 27px;
    margin-top: 11px; }
  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__bars {
    width: 32px;
    height: 23px;
    cursor: pointer; }
  .header__icon {
    width: 29px;
    height: 29px;
    margin: 0 42px 0 25px;
    cursor: pointer; }
  .header__cart {
    width: 32px;
    height: 29px;
    position: relative;
    cursor: pointer; }
    .header__cart_counter {
      position: absolute;
      top: -6px;
      left: 24px;
      width: 19px;
      height: 19px;
      background-color: #F16D7F;
      font-size: 12px;
      line-height: 20px;
      border-radius: 50%;
      text-align: center;
      color: #FBFBFB; }

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 764px;
  background: #F1E4E6; }
  .hero__brand_left {
    background: url("../img/hero_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: inherit;
    flex-basis: 50%; }
  .hero__brand_right {
    height: inherit;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 75px; }
  .hero__heading {
    max-width: 425px; }
  .hero__title {
    margin-right: 30px;
    position: relative;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-family: 'Lato-Refular' , sans-serif; }
    .hero__title::before {
      content: " ";
      display: flex;
      position: absolute;
      top: 0;
      left: -16px;
      width: 12px;
      height: 92px;
      background-color: #F16D7F; }
    .hero__title_huge {
      font-size: 48px;
      line-height: 58px;
      font-weight: 900; }
    .hero__title_red {
      color: #F16D7F; }

.offer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px  180px;
  align-items: center;
  justify-self: center;
  justify-content: center;
  grid-gap: 30px;
  padding: 65px 5px; }
  .offer__card {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .offer__card-1 {
      background: url("../img/women.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7); }
    .offer__card-2 {
      background: url("../img/men.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7); }
    .offer__card-3 {
      background: url("../img/kids.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7); }
    .offer__card-4 {
      background: url("../img/accesories.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7); }
  .offer__accesories {
    grid-column: 1/-1; }
  .offer__title {
    line-height: 22px;
    font-size: 16px;
    color: #FBFBFB;
    text-transform: uppercase;
    font-family: 'Lato-Refular' , sans-serif; }
    .offer__title_red {
      display: block;
      font-size: 24px;
      line-height: 30px;
      font-family: 'Lato-Bold', sans-serif; }
  .offer__link {
    text-decoration: none;
    color: #F16D7F; }

.products-title {
  margin-bottom: 48px;
  text-align: center; }

.products__title {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  color: #222222;
  font-family: 'Lato-Refular' , sans-serif; }

.products__subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 0;
  font-family: 'Lato-Refular' , sans-serif; }

.products__button {
  text-decoration: none;
  text-align: center;
  display: flex;
  margin: 0 auto;
  margin-top: 48px;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 39px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  cursor: pointer;
  outline: none;
  background-color: transparent; }
  .products__button:hover {
    background-color: #FF6A6A;
    color: #FBFBFB; }

.products__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  justify-content: center;
  grid-gap: 30px;
  padding: 0 5px; }

.card {
  display: grid;
  text-align: left;
  background-color: #F8F8F8; }
  .card__wrapper {
    position: relative; }
    .card__wrapper:hover .card__mask {
      display: flex; }
  .card__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(58, 56, 56, 0.86); }
  .card__btn {
    display: flex;
    align-items: center;
    color: #FBFBFB;
    background: none;
    padding: 10px 15px;
    border: 1px solid #FBFBFB; }
  .card__icon {
    width: 26px;
    height: 23px;
    margin-right: 11px; }
  .card__text {
    font-size: 14px;
    font-family: 'Lato-Refular' , sans-serif; }
  .card__inner {
    margin: 20px; }
  .card__title {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    font-family: 'Lato-Refular' , sans-serif; }
  .card__description {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    font-family: 'Lato-Refular' , sans-serif; }
  .card__img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    display: block; }
  .card__cost {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    font-family: 'Lato-Refular' , sans-serif; }

.services {
  display: grid;
  background-color: #222224;
  grid-template-columns: repeat(auto-fill, minmax(200px, 360px));
  justify-self: center;
  justify-content: center;
  grid-gap: 40px;
  margin: 90px 0 0;
  padding: 104px 0; }
  .services__box {
    display: grid;
    justify-items: center;
    text-align: center;
    align-content: center; }
  .services__img {
    width: 44px;
    height: 40px; }
  .services__title {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin: 28px 0 15px;
    font-family: 'Lato-Refular' , sans-serif; }
  .services__description {
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    width: 300px;
    margin: 0; }

.subscribe {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 567px));
  grid-auto-rows: 1fr;
  background: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-self: center;
  justify-content: center;
  box-shadow: inset 0px 244px 22px 1px rgba(255, 255, 255, 0.7), inset 0px 530px 0px 0px rgba(244, 244, 244, 0.7);
  height: 529px; }
  .subscribe__box {
    display: grid;
    justify-items: center;
    text-align: center;
    align-content: center;
    margin-bottom: 100px; }
  .subscribe__img {
    width: 150px;
    height: 150px; }
  .subscribe__description {
    font-size: 20px;
    line-height: 24px;
    width: 340px;
    margin-top: 30px;
    font-family: 'Lato-Refular' , sans-serif; }
    .subscribe__description_italic {
      font-family: 'Lato-Italic', sans-serif; }
  .subscribe__form {
    display: grid;
    justify-items: center;
    text-align: center;
    align-content: center; }
  .subscribe__title {
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'Lato-Bold', sans-serif; }
  .subscribe__subtitle {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;
    text-transform: uppercase;
    font-family: 'Lato-Refular' , sans-serif; }
  .subscribe__input {
    width: 256px;
    height: 49px;
    border-radius: 50px 0 0 50px;
    outline: none;
    border: none;
    background-color: #E1E1E1;
    margin-right: -4px; }
    .subscribe__input::placeholder {
      color: #222224;
      font-size: 14px;
      line-height: 17px;
      padding-left: 20px;
      font-family: 'Lato-Refular' , sans-serif; }
  .subscribe__submit {
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    padding: 16px 23px;
    outline: none;
    border: none;
    background-color: #F16D7F;
    border-radius: 0px 50px  50px 0; }
  .subscribe__social {
    display: grid;
    background-color: #222224;
    height: 79px;
    grid-column-start: 1;
    grid-column-end: -1; }

.footer {
  background: #222224; }
  .footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px; }
  .footer__copy {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB; }
  .footer__social {
    display: flex;
    margin-left: 215px; }
  .footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 3px;
    width: 32px;
    height: 32px;
    background-color: #fff; }
    .footer__link:hover {
      background-color: #F16D7F; }
  .footer__icon {
    fill: #222224; }
    .footer__icon:hover {
      fill: #fff; }

.new-arrivals {
  background-color: #F8F3F4; }
  .new-arrivals__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 148px; }
  .new-arrivals__title {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    font-family: 'Lato-Refular' , sans-serif; }
  .new-arrivals__link {
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
    font-family: 'Lato-Refular' , sans-serif; }
  .new-arrivals__link:last-of-type {
    color: #f16d7f;
    font-family: 'Lato-Bold', sans-serif; }

.filters__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 64px; }

.filters__left {
  position: relative; }

.filters__img_right {
  width: 10px;
  height: 5px;
  cursor: pointer; }

.filters__right {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 437px; }
  .filters__right_size {
    position: relative; }
  .filters__right_title {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    margin: 0 10px 0 27px;
    color: #6F6E6E;
    font-family: 'Lato-Refular' , sans-serif; }

.filters__sizes {
  position: absolute;
  top: 22px;
  width: 79px;
  left: 15px;
  height: 103px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #fff;
  padding: 9px;
  color: #6F6E6E; }
  .filters__sizes_dimension {
    font-size: 14px;
    margin-left: 9px; }

.filters__category {
  margin-bottom: 24px; }
  .filters__category_title {
    font-size: 14px;
    line-height: 37px;
    color: #EF5B70;
    padding-left: 11px;
    min-height: 37px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 24px;
    position: relative;
    cursor: pointer; }
    .filters__category_title::before {
      content: " ";
      width: 5px;
      min-height: inherit;
      background: #EF5B70;
      position: absolute;
      left: 0;
      top: 1px; }
  .filters__category_link {
    text-decoration: none;
    display: block;
    padding: 0 34px 0 16px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E; }
    .filters__category_link::last-of-type {
      margin-bottom: 11px; }

.filterIcon {
  width: 15px;
  height: 10px;
  margin-left: 11px;
  cursor: pointer; }

.filterPopup {
  position: absolute;
  left: 0;
  top: -20px;
  width: 360px;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 46px 16px 16px 16px;
  z-index: 1;
  overflow-y: auto; }

.filterLabel {
  font-size: 14px;
  line-height: 17px;
  font-family: 'Lato-Bold', sans-serif; }

.filterLabelPink {
  color: #ef5b70 !important;
  left: 16px;
  top: -5px;
  position: absolute;
  z-index: 2; }

.filterIconPink {
  left: 57px;
  top: -2px;
  position: absolute;
  z-index: 2; }

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; }

.catalog__img {
  background: url("../img/image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 360px;
  height: 420px; }

.catalog__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 283px;
  height: 44px;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  padding: 15px 16px; }

.catalog__chevron {
  width: 8px;
  height: 14px;
  cursor: pointer; }

.catalog__link {
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
  text-decoration: none; }
  .catalog__link:hover {
    color: #EF5B70; }

.slider {
  position: relative; }

.swiper-container {
  width: 100%;
  height: 100%;
  height: 777px;
  background-color: #F7F7F7; }

.swiper-slide {
  height: 724px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .swiper-slide__img {
    width: 597px;
    height: 724px; }

.swiper-button {
  position: relative; }
  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    block-size: 49px;
    width: 49px;
    height: 47px; }
    .swiper-button-next::after, .swiper-button-prev::after {
      display: none; }
  .swiper-button-next {
    right: 0;
    background: url("../img/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 47%;
    background-color: rgba(42, 42, 42, 0.15); }
    .swiper-button-next:hover {
      background: url("../img/right-hover-arrow.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 47%;
      background-color: rgba(42, 42, 42, 0.15); }
  .swiper-button-prev {
    left: 0;
    background: url("../img/left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 47%;
    background-color: rgba(42, 42, 42, 0.15); }
    .swiper-button-prev:hover {
      background: url("../img/left-hover-arrow.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 47%;
      background-color: rgba(42, 42, 42, 0.15); }

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 116%;
  background: rgba(0, 0, 0, 0.5); }

.hidden {
  display: none; }

.menu {
  width: 232px;
  height: 838px;
  background: white;
  margin-left: auto;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 37px 24px;
  box-sizing: border-box;
  position: relative;
  max-height: inherit;
  overflow: auto; }
  .menu__close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer; }
  .menu__title {
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    margin-bottom: 16px;
    font-family: 'Lato-Refular' , sans-serif; }
  .menu__header {
    font-size: 14px;
    line-height: 33px;
    color: #F16D7F; }
  .menu__unit {
    display: flex;
    flex-direction: column; }
  .menu__link {
    font-size: 14px;
    line-height: 33px;
    color: #6f6e6e;
    text-decoration: none;
    margin-left: 21px;
    cursor: pointer; }

@media (max-width: 1124px) {
  .header__menu {
    padding: 18px 20px; }
  .services {
    grid-template-columns: repeat(auto-fill, minmax(200px, 530px)); }
  .new-arrivals__wrap {
    padding: 0 16px; }
  .filters__wrap {
    padding: 0 16px; }
  .filters__right {
    margin-right: 250px; }
  .subscribe {
    height: 638px;
    padding: 50px 0;
    box-shadow: inset 0px 244px 22px 1px rgba(255, 255, 255, 0.7), inset 0px 638px 0px 0px rgba(244, 244, 244, 0.7); }
  .footer {
    padding: 0 20px; } }

@media (max-width: 768px) {
  .header__menu {
    padding: 18px 32px; }
  .hero {
    height: 386px; }
    .hero__brand_right {
      padding-left: 30px; }
    .hero__title {
      font-size: 24px; }
      .hero__title_huge {
        font-size: 42px;
        line-height: 53px; }
  .new-arrivals__wrap {
    padding: 0 16px; }
  .filters__wrap {
    padding: 0 16px;
    margin: 24px 0 40px;
    justify-content: space-between; }
  .filters__right {
    margin-right: 0; }
    .filters__right_title {
      font-size: 12px;
      line-height: 14px;
      margin: 0  9px 0 24px; }
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    padding: 0 16px; }
  .card:nth-child(3) {
    display: none; }
  .offer {
    grid-template-rows: 167px 116px;
    grid-gap: 19px;
    padding: 65px 16px; }
  .products-title {
    margin-bottom: 72px; }
  .products__items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14px;
    padding: 0 18px; }
  .products__button {
    margin-top: 32px; }
  .services {
    padding: 48px 0 64px; } }

@media (max-width: 376px) {
  .header__menu {
    padding: 16px 18px; }
  .header__icon {
    display: none; }
  .header__cart {
    display: none; }
  .hero__brand_left {
    display: none; }
  .hero__brand_right {
    justify-content: center;
    align-items: center;
    padding-left: 0;
    flex-basis: 100%; }
  .hero__title {
    margin-right: 0;
    font-size: 20px;
    font-weight: 900; }
    .hero__title_huge {
      font-size: 38px;
      font-weight: 700; }
  .new-arrivals__wrap {
    flex-direction: column;
    justify-content: space-evenly; }
  .new-arrivals__title {
    margin: 0; }
  .filterLabel {
    display: none; }
  .filterIcon {
    margin-left: 0; }
  .filters__wrap {
    padding: 0 8px; }
  .catalog__list {
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding: 0 8px; }
  .catalog__img {
    width: 342px; }
  .card:nth-child(3) {
    display: none; }
  .offer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px) 111px;
    grid-gap: 32px; }
  .products-title {
    margin-bottom: 64px; }
  .products__items {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 0 8px; }
  .products__button {
    margin-top: 41px; }
  .subscribe {
    grid-template-columns: 1fr; }
    .subscribe__description {
      font-size: 18px; }
    .subscribe__subtitle {
      font-size: 14px; }
    .subscribe__input {
      width: 220px;
      height: 45px; }
    .subscribe__submit {
      padding: 15px 23px; }
  .footer__wrap {
    flex-direction: column-reverse;
    justify-content: center;
    height: 143px; }
  .footer__copy {
    margin: 0; }
  .footer__social {
    margin: 43px 0  40px; } }
