@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato-Italic';
  src: url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

*, ::before, ::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: sans-serif; }

img {
  width: 100%;
  height: 100%; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.input-group {
  position: relative; }

input.invalidSubscribe {
  border: 1px solid  tomato; }

div.invalidSubscribe {
  color: tomato;
  position: absolute;
  top: 60px;
  right: 40px;
  width: 100%;
  text-align: center; }

input.invalidPurchase {
  border: 1px solid  tomato; }

div.invalidPurchase {
  color: tomato;
  position: absolute;
  top: 48px;
  left: 32px;
  width: 100%;
  text-align: center; }

input.invalidPersonalInfo {
  border: 1px solid  tomato; }

div.invalidPersonalInfo {
  color: tomato;
  font-size: 12px;
  position: absolute;
  bottom: 23px;
  left: 8px;
  width: 100%;
  text-align: center; }

.header {
  background: #222224; }
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 18px 0; }
  .header__left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    width: 44px;
    height: 38px;
    margin-right: 41px; }
  .header__search {
    width: 26px;
    height: 27px;
    margin-top: 11px; }
  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__bars {
    width: 32px;
    height: 23px;
    cursor: pointer; }
  .header__icon {
    width: 29px;
    height: 29px;
    margin: 0 42px 0 25px;
    cursor: pointer; }
  .header__cart {
    width: 32px;
    height: 29px;
    position: relative;
    cursor: pointer; }
    .header__cart_counter {
      position: absolute;
      top: -6px;
      left: 24px;
      width: 19px;
      height: 19px;
      background-color: #F16D7F;
      font-size: 12px;
      line-height: 20px;
      border-radius: 50%;
      text-align: center;
      color: #FBFBFB; }

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 764px;
  background: #F1E4E6; }
  .hero__brand_left {
    background: url("../img/hero_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: inherit;
    flex-basis: 50%; }
  .hero__brand_right {
    height: inherit;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 75px; }
  .hero__heading {
    max-width: 425px; }
  .hero__title {
    margin-right: 30px;
    position: relative;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-family: 'Lato-Refular' , sans-serif; }
    .hero__title::before {
      content: " ";
      display: flex;
      position: absolute;
      top: 0;
      left: -16px;
      width: 12px;
      height: 92px;
      background-color: #F16D7F; }
    .hero__title_huge {
      font-size: 48px;
      line-height: 58px;
      font-weight: 900; }
    .hero__title_red {
      color: #F16D7F; }

.offer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px  180px;
  align-items: center;
  justify-self: center;
  justify-content: center;
  grid-gap: 30px;
  padding: 65px 5px; }
  .offer__card {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .offer__card-1 {
      background: url("../img/women.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7); }
    .offer__card-2 {
      background: url("../img/men.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7); }
    .offer__card-3 {
      background: url("../img/kids.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7); }
    .offer__card-4 {
      background: url("../img/accesories.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: inset 360px 260px rgba(33, 22, 22, 0.7); }
  .offer__accesories {
    grid-column: 1/-1; }
  .offer__title {
    line-height: 22px;
    font-size: 16px;
    color: #FBFBFB;
    text-transform: uppercase;
    font-family: 'Lato-Refular' , sans-serif; }
    .offer__title_red {
      display: block;
      font-size: 24px;
      line-height: 30px;
      font-family: 'Lato-Bold', sans-serif; }
  .offer__link {
    text-decoration: none;
    color: #F16D7F; }

.products-title {
  margin-bottom: 48px;
  text-align: center; }

.products__title {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  color: #222222;
  font-family: 'Lato-Refular' , sans-serif; }

.products__subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 0;
  font-family: 'Lato-Refular' , sans-serif; }

.products__button {
  text-decoration: none;
  text-align: center;
  display: flex;
  margin: 0 auto;
  margin-top: 48px;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 39px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  cursor: pointer;
  outline: none;
  background-color: transparent; }
  .products__button:hover {
    background-color: #FF6A6A;
    color: #FBFBFB; }

.products__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  justify-content: center;
  grid-gap: 30px;
  padding: 0 5px; }

.card {
  display: grid;
  text-align: left;
  background-color: #F8F8F8; }
  .card__wrapper {
    position: relative; }
    .card__wrapper:hover .card__mask {
      display: flex; }
  .card__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(58, 56, 56, 0.86); }
  .card__btn {
    display: flex;
    align-items: center;
    color: #FBFBFB;
    background: none;
    padding: 10px 15px;
    border: 1px solid #FBFBFB; }
  .card__icon {
    width: 26px;
    height: 23px;
    margin-right: 11px; }
  .card__text {
    font-size: 14px;
    font-family: 'Lato-Refular' , sans-serif; }
  .card__inner {
    margin: 20px; }
  .card__title {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    font-family: 'Lato-Refular' , sans-serif; }
  .card__description {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    font-family: 'Lato-Refular' , sans-serif; }
  .card__img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    display: block; }
  .card__cost {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    font-family: 'Lato-Refular' , sans-serif; }

.services {
  background-color: #222224;
  margin-top: 95px; }
  .services__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    justify-content: center;
    grid-gap: 30px;
    padding: 104px 0; }
  .services__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .services__img {
    width: 44px;
    height: 40px; }
  .services__title {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin: 28px 0 15px;
    font-family: 'Lato-Refular' , sans-serif; }
  .services__description {
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    margin: 0;
    width: 320px;
    font-family: 'Lato-Light', serif; }

.subscribe {
  background: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-self: center;
  justify-content: center;
  box-shadow: inset 0 0 0 345px rgba(244, 244, 244, 0.7);
  height: 529px; }
  .subscribe__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 97px 5px 126px; }
  .subscribe__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center; }
  .subscribe__img {
    width: 96px;
    height: 96px;
    border-radius: 50%; }
  .subscribe__description {
    font-size: 20px;
    line-height: 24px;
    width: 340px;
    margin-top: 30px;
    font-family: 'Lato-Refular' , sans-serif; }
    .subscribe__description_italic {
      font-family: 'Lato-Italic', sans-serif; }
  .subscribe__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; }
  .subscribe__title {
    font-size: 24px;
    color: #222224;
    text-transform: uppercase;
    font-family: 'Lato-Bold', sans-serif; }
  .subscribe__subtitle {
    font-size: 18px;
    line-height: 30px;
    color: #222224;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: 'Lato-Refular' , sans-serif; }
  .subscribe__input {
    width: 256px;
    height: 49px;
    float: left;
    border-radius: 50px 0 0 50px;
    outline: none;
    border: 1px solid #c4c4c4;
    background-color: #E1E1E1;
    margin-right: -4px; }
    .subscribe__input::placeholder {
      color: #222224;
      font-size: 14px;
      line-height: 17px;
      padding-left: 20px;
      font-family: 'Lato-Refular' , sans-serif; }
  .subscribe__submit {
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    padding: 16px 23px;
    outline: none;
    border: none;
    background-color: #F16D7F;
    border-radius: 0 50px  50px 0; }
  .subscribe__social {
    display: grid;
    background-color: #222224;
    height: 79px;
    grid-column-start: 1;
    grid-column-end: -1; }

.footer {
  background: #222224; }
  .footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px; }
  .footer__copy {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB; }
  .footer__social {
    display: flex;
    margin-left: 215px; }
  .footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 3px;
    width: 32px;
    height: 32px;
    background-color: #fff; }
    .footer__link:hover {
      background-color: #F16D7F; }
  .footer__icon {
    fill: #222224; }
    .footer__icon:hover {
      fill: #fff; }

.new-arrivals {
  background-color: #F8F3F4; }
  .new-arrivals__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 148px; }
  .new-arrivals__title {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    font-family: 'Lato-Refular' , sans-serif; }
  .new-arrivals__link {
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
    font-family: 'Lato-Refular' , sans-serif; }
  .new-arrivals__link:last-of-type {
    color: #f16d7f;
    font-family: 'Lato-Bold', sans-serif; }

.filters__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 64px; }

.filters__left {
  position: relative; }

.filters__img_right {
  width: 10px;
  height: 5px;
  cursor: pointer; }

.filters__right {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 437px; }
  .filters__right_size {
    position: relative; }
  .filters__right_title {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    margin: 0 10px 0 27px;
    color: #6F6E6E;
    font-family: 'Lato-Refular' , sans-serif; }

.filters__sizes {
  position: absolute;
  top: 22px;
  width: 79px;
  left: 15px;
  height: 103px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #fff;
  padding: 9px;
  color: #6F6E6E; }
  .filters__sizes_dimension {
    font-size: 14px;
    margin-left: 9px; }

.filters__category {
  margin-bottom: 24px; }
  .filters__category_title {
    font-size: 14px;
    line-height: 37px;
    color: #EF5B70;
    padding-left: 11px;
    min-height: 37px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 24px;
    position: relative;
    cursor: pointer; }
    .filters__category_title::before {
      content: " ";
      width: 5px;
      min-height: inherit;
      background: #EF5B70;
      position: absolute;
      left: 0;
      top: 1px; }
  .filters__category_link {
    text-decoration: none;
    display: block;
    padding: 0 34px 0 16px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E; }
    .filters__category_link::last-of-type {
      margin-bottom: 11px; }

.filterIcon {
  width: 15px;
  height: 10px;
  margin-left: 11px;
  cursor: pointer; }

.filterPopup {
  position: absolute;
  left: 0;
  top: -20px;
  width: 360px;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 46px 16px 16px 16px;
  z-index: 1;
  overflow-y: auto; }

.filterLabel {
  font-size: 14px;
  line-height: 17px;
  font-family: 'Lato-Bold', sans-serif; }

.filterLabelPink {
  color: #ef5b70 !important;
  left: 16px;
  top: -5px;
  position: absolute;
  z-index: 2; }

.filterIconPink {
  left: 57px;
  top: -2px;
  position: absolute;
  z-index: 2; }

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; }

.catalog__img {
  background: url("../img/image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 360px;
  height: 420px; }

.catalog__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 283px;
  height: 44px;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  padding: 15px 16px; }

.catalog__chevron {
  width: 8px;
  height: 14px;
  cursor: pointer; }

.catalog__link {
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
  text-decoration: none; }
  .catalog__link:hover {
    color: #EF5B70; }

.slider {
  position: relative; }

.swiper-container {
  width: 100%;
  height: 777px;
  background-color: #F7F7F7; }

.swiper-slide {
  height: 724px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .swiper-slide__img {
    width: 597px;
    height: 724px; }

.swiper-button {
  position: relative; }
  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    width: 49px;
    height: 47px; }
    .swiper-button-next::after, .swiper-button-prev::after {
      display: none; }
  .swiper-button-next {
    right: 0;
    background: url("../img/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 47%;
    background-color: rgba(42, 42, 42, 0.15); }
    .swiper-button-next:hover {
      background: url("../img/right-hover-arrow.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 47%;
      background-color: rgba(42, 42, 42, 0.15); }
  .swiper-button-prev {
    left: 0;
    background: url("../img/left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 47%;
    background-color: rgba(42, 42, 42, 0.15); }
    .swiper-button-prev:hover {
      background: url("../img/left-hover-arrow.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 47%;
      background-color: rgba(42, 42, 42, 0.15); }

.collection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #EAEAEA;
  margin-top: -75px;
  position: relative;
  z-index: 1; }
  .collection__title {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    margin-top: 65px;
    margin-bottom: 0;
    position: relative;
    color: #F16D7F;
    font-family: 'Lato-Light', serif; }
    .collection__title::after {
      content: " ";
      width: 63px;
      height: 3px;
      position: absolute;
      top: 28px;
      left: 51px;
      background-color: #EF5B70; }
  .collection__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-top: 27px;
    color: #4d4d4d;
    font-family: 'Lato-Refular' , sans-serif; }
  .collection__description {
    max-width: 574px;
    font-size: 14px;
    line-height: 18px;
    color: #5D5D5D;
    text-align: center;
    margin-top: 48px;
    font-family: 'Lato-Light', serif; }
  .collection__cost {
    font-size: 24px;
    line-height: 28px;
    color: #EF5B70;
    margin-top: 32px;
    font-family: 'Lato-Light', serif; }
  .collection__dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 129px 0 65px; }
    .collection__dropdown::before {
      content: " ";
      display: flex;
      width: 642px;
      position: absolute;
      bottom: 80px;
      right: -108px;
      height: 1px;
      background-color: #EAEAEA; }
    .collection__dropdown_title {
      font-size: 14px;
      line-height: 17px;
      color: #6F6E6E;
      font-weight: 400;
      font-family: 'Lato-Refular' , sans-serif; }
    .collection__dropdown_img {
      width: 10px;
      height: 5px;
      margin-left: 9px;
      margin-right: 23px;
      cursor: pointer; }
  .collection__button {
    margin-bottom: 65px;
    font-size: 16px;
    line-height: 20px;
    color: #EF5B70;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px  57px 9px 24px;
    background-color: #fff;
    border: 1px solid #FF6A6A;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    font-family: 'Lato-Refular' , sans-serif; }
    .collection__button_cart {
      width: 26px;
      height: 24px;
      margin-right: 22px; }

.collection-products {
  padding: 128px 0; }
  .collection-products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    justify-content: center;
    grid-gap: 30px;
    padding: 0 5px; }

.shopping {
  background-color: #F8F3F4; }
  .shopping__inner {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: 148px; }
  .shopping__title {
    font-size: 24px;
    line-height: 28px;
    color: #F16D7F;
    margin: 0;
    font-family: 'Lato-Light', serif; }

.purchase__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 96px; }

.purchase__cart {
  display: flex; }
  .purchase__cart_left {
    flex-direction: column;
    flex-basis: 50%; }
  .purchase__cart_right {
    flex-basis: 30%;
    flex-direction: column; }

.purchase__box {
  width: 652px;
  position: relative;
  display: flex;
  background-color: #fff;
  filter: drop-shadow(8px 8px 21px rgba(0, 0, 0, 0.13));
  margin-bottom: 40px;
  animation-name: spaceOutUp;
  animation-duration: 500ms; }

.purchase__title {
  width: 220px;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
  font-family: 'Lato-Refular' , sans-serif; }
  .purchase__title_right {
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    font-weight: 300;
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Lato-Light', serif; }

.purchase__address {
  animation-name: spaceOutUp;
  animation-duration: 200ms; }

.purchase__input {
  width: 44px;
  height: 25px;
  text-align: center;
  margin-left: 24px; }
  .purchase__input_right {
    width: 100%;
    padding: 15px 17px;
    margin-bottom: 20px;
    border: 1px solid #a4a4a4;
    font-size: 13px;
    line-height: 16px;
    color: #b1b1b1;
    padding-left: 17px;
    font-family: 'Lato-Light', serif; }
    .purchase__input_right::last-of-type {
      margin-bottom: 23px; }

.purchase__desc {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
  font-family: 'Lato-Refular' , sans-serif; }

.purchase__cost {
  color: #EF5B70; }

.purchase__close {
  position: absolute;
  top: 22px;
  right: 28px;
  width: 18px;
  height: 18px;
  cursor: pointer; }

.purchase__img {
  width: 262px;
  height: 306px; }
  .purchase__img_bg {
    background: url("../img/image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 262px;
    height: 306px; }

.purchase__inner {
  display: flex;
  flex-direction: column;
  width: 262px;
  margin-top: 22px;
  margin-left: 31px; }

.purchase__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 72px 0 128px; }

.purchase__button {
  border: 1px solid #a4a4a4;
  background-color: #fff;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 16px 40px;
  outline: none;
  cursor: pointer; }
  .purchase__button_small {
    display: block;
    font-size: 11px;
    line-height: 13px;
    color: #a4a4a4;
    padding: 11px 15px;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    cursor: pointer;
    outline: none;
    font-family: 'Lato-Light', serif; }
  .purchase__button_red {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    padding: 16px 42px;
    background-color: #F16D7F;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Lato-Refular' , sans-serif; }

.checkout {
  position: relative;
  width: 360px;
  height: 214px;
  text-align: center;
  background-color: #f5f3f3;
  margin-top: 57px;
  animation-name: spaceOutUp;
  animation-duration: 200ms; }
  .checkout__price {
    text-align: right; }
  .checkout__title {
    font-size: 11px;
    line-height: 13px;
    color: #a4a4a4;
    display: block;
    margin: 39px 34px 12px 0;
    font-family: 'Lato-Refular' , sans-serif; }
    .checkout__title_large {
      font-size: 16px;
      line-height: 19px;
      color: #222222;
      margin: 0 37px 39px;
      font-family: 'Lato-Light', serif; }
  .checkout__cost_red {
    color: #F16D7F;
    margin-left: 20px;
    font-family: 'Lato-Bold', sans-serif; }

@keyframes spaceOutUp {
  from {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: scale(0.2) translate(0%, -200%); }
  to {
    opacity: 1;
    transform-origin: 50% 0%;
    transform: scale(1) translate(0%, 0%); } }

.registration__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 64px; }

.registration__personalInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-basis: 35%; }

.registration__aside {
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  color: #000000;
  font-family: 'Lato-Light', serif; }

.registration__title {
  margin: 0; }

.registration__description {
  margin: 22px 0;
  max-width: 100%; }

.registration__list {
  margin-top: 0;
  list-style-type: none; }

.registration__item {
  position: relative;
  margin-bottom: 16px; }
  .registration__item::before {
    content: " ";
    background: url("../img/checkmark.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 20px;
    position: absolute;
    top: 6px;
    left: -35px;
    display: flex; }

.personalInfo__label {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
  font-family: 'Lato-Light', serif; }

.personalInfo__input {
  width: 360px;
  padding: 14px 0 15px 17px;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #a4a4a4;
  margin-bottom: 20px;
  outline: none;
  font-family: 'Lato-Light', serif; }
  .personalInfo__input:nth-child(2n+1) {
    margin-bottom: 0; }

.personalInfo__radio {
  width: 17px;
  height: 17px;
  margin: 31px 20px 33px 10px; }
  .personalInfo__radio:nth-of-type(1) {
    margin-left: 0; }
  .personalInfo__radio:nth-of-type(3) {
    display: none; }

.personalInfo__gender {
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: inline-block; }
  .personalInfo__gender:nth-of-type(3) {
    display: none; }

.personalInfo__text {
  width: 360px;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  margin: 15px 0 39px;
  font-family: 'Lato-Light', serif; }

.personalInfo__button {
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  outline: none;
  border: none;
  background-color: #F16D7F;
  padding: 17px 29px;
  margin-bottom: 96px;
  cursor: pointer; }

.personalInfo__arrow {
  width: 17px;
  height: 10px;
  margin-left: 20px; }

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 116%;
  background: rgba(0, 0, 0, 0.5); }

.hidden {
  display: none; }

.menu {
  width: 232px;
  height: 838px;
  background: white;
  margin-left: auto;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 37px 24px;
  box-sizing: border-box;
  position: relative;
  max-height: inherit;
  overflow: auto; }
  .menu__close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer; }
  .menu__title {
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    margin-bottom: 16px;
    font-family: 'Lato-Refular' , sans-serif; }
  .menu__header {
    font-size: 14px;
    line-height: 33px;
    color: #F16D7F; }
  .menu__unit {
    display: flex;
    flex-direction: column; }
  .menu__link {
    font-size: 14px;
    line-height: 33px;
    color: #6f6e6e;
    text-decoration: none;
    margin-left: 21px;
    cursor: pointer; }

@media (max-width: 1140px) {
  .header__menu {
    padding: 18px 20px; }
  .services__item {
    grid-template-columns: repeat(3, 1fr); }
  .new-arrivals__wrap {
    padding: 0 16px; }
  .filters__wrap {
    padding: 0 16px; }
  .filters__right {
    margin-right: 250px; }
  .shopping {
    padding: 0 10px; }
  .registration__wrap {
    padding: 0 10px; }
  .purchase__wrap {
    padding: 0 10px; }
  .purchase__cart_left {
    flex-basis: 60%; }
  .purchase__cart_right {
    flex-basis: 40%; }
  .purchase__box {
    width: 560px; }
  .purchase__btn {
    justify-content: space-around; }
  .catalog__list {
    grid-gap: 14px;
    padding: 0 15px; }
  .subscribe {
    height: 638px;
    padding: 50px 0;
    box-shadow: inset 0px 244px 22px 1px rgba(255, 255, 255, 0.7), inset 0px 638px 0px 0px rgba(244, 244, 244, 0.7); }
  .footer {
    padding: 0 20px; } }

@media (max-width: 992px) {
  .header__menu {
    padding: 18px 25px; }
  .services__item {
    grid-template-columns: 1fr; }
  .catalog__list {
    grid-gap: 10px;
    padding: 0 10px; }
  .catalog__img {
    width: 100%; }
  .collection-products__list {
    grid-gap: 15px; } }

@media (max-width: 768px) {
  .header__menu {
    padding: 18px 32px; }
  .hero {
    height: 386px; }
    .hero__brand_right {
      padding-left: 30px; }
    .hero__title {
      font-size: 24px; }
      .hero__title_huge {
        font-size: 42px;
        line-height: 53px; }
  .new-arrivals__wrap {
    padding: 0 16px; }
  .swiper-container {
    height: 624px; }
  .swiper-slide {
    height: 624px; }
    .swiper-slide__img {
      width: 466px;
      height: 565px;
      margin: 30px 0; }
  .collection {
    margin-top: 0; }
  .collection-products__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    padding: 0 16px; }
  .collection-products__card_2 {
    grid-row: 1/2; }
  .collection-products__card_3 {
    display: none; }
  .filters__wrap {
    padding: 0 16px;
    margin: 24px 0 40px;
    justify-content: space-between; }
  .filters__right {
    margin-right: 0; }
    .filters__right_title {
      font-size: 12px;
      line-height: 14px;
      margin: 0  9px 0 24px; }
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    padding: 0 16px; }
  .catalog__card:nth-of-type(3) {
    display: none; }
  .offer {
    grid-template-rows: 167px 116px;
    grid-gap: 19px;
    padding: 65px 16px; }
  .products-title {
    margin-bottom: 72px; }
  .products__items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14px;
    padding: 0 18px; }
  .products__button {
    margin-top: 32px; }
  .services {
    margin-top: 64px; }
    .services__item {
      grid-template-columns: 1fr;
      grid-gap: 48px;
      padding: 48px 0 64px; }
  .purchase__wrap {
    flex-direction: column;
    padding: 0 16px; }
  .purchase__cart_right {
    flex-direction: initial;
    margin-bottom: 128px; }
  .purchase__box {
    width: 100%; }
  .purchase__btn {
    margin: 22px 0 64px; }
  .purchase__address {
    width: 360px;
    margin-right: 7px; }
  .checkout {
    margin-left: 7px;
    margin-top: 39px; }
  .registration__wrap {
    padding: 0 16px; }
  .registration__personalInfo {
    flex-basis: 50%; }
  .registration__aside {
    font-size: 16px;
    line-height: 22px;
    flex-basis: 48%; }
  .registration__description {
    margin: 32px 0 22px; }
  .personalInfo__radio:nth-of-type(3) {
    display: inline-block; }
  .personalInfo__gender:nth-of-type(3) {
    display: inline-block; }
  .subscribe {
    padding: 0; }
    .subscribe__item {
      flex-direction: column;
      padding: 63px 5px 120px; }
    .subscribe__box {
      margin-bottom: 48px; } }

@media (max-width: 576px) {
  .hero__title {
    font-size: 18px;
    margin-right: 14px;
    line-height: 19px;
    font-weight: 500; }
    .hero__title::before {
      top: 3px;
      left: -16px;
      width: 10px;
      height: 58px; }
    .hero__title_huge {
      font-size: 30px;
      line-height: 39px; }
  .offer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 260px) 150px;
    grid-gap: 20px; }
  .collection__description {
    max-width: 540px;
    line-height: 21px; }
  .collection__dropdown::before {
    width: 480px;
    right: -31px; }
  .catalog__list {
    grid-gap: 12px; }
  .footer__copy {
    font-size: 10px; }
  .registration__wrap {
    flex-direction: column; }
  .registration__personalInfo {
    width: 100%; }
  .personalInfo__form {
    width: 100%; }
  .personalInfo__input {
    width: 100%; }
  .personalInfo__text {
    width: 100%; }
  .purchase__close {
    top: 11px;
    right: 7px;
    width: 15px;
    height: 15px; }
  div.invalidPurchase {
    top: 48px;
    left: 11px; } }

@media (max-width: 480px) {
  .header__menu {
    padding: 18px 20px; }
  .header__cart {
    display: none; }
  .header__icon {
    margin: 0 0 0 25px; }
  .hero {
    height: 440px; }
    .hero__brand_right {
      padding-left: 35px; }
    .hero__title {
      font-size: 15px; }
      .hero__title_huge {
        font-size: 25px; }
  .collection__description {
    max-width: 430px; }
  .collection__dropdown::before {
    width: 430px;
    right: -5px; }
  .collection-products__list {
    grid-template-columns: 1fr; }
  .products__items {
    grid-template-columns: 1fr;
    grid-gap: 25px; }
  .purchase__wrap {
    padding: 0 10px; }
  .purchase__title {
    width: 129px;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 20px; }
  .purchase__desc {
    font-size: 20px; }
  .purchase__input {
    margin-left: 11px; }
  .purchase__inner {
    margin-left: 10px; }
  .purchase__img {
    width: 100%; }
    .purchase__img_bg {
      width: 100%; }
  .purchase__button {
    padding: 16px 22px; }
    .purchase__button_red {
      font-size: 12px;
      padding: 13px 15px; }
  .checkout__title_large {
    margin: 0 37px 36px; }
  .catalog {
    grid-template-columns: 1fr; }
    .catalog__list {
      grid-template-columns: 1fr;
      grid-gap: 22px;
      padding: 0 8px; }
    .catalog__img {
      height: 524px; }
  .card__img {
    height: 520px; }
  .footer__wrap {
    flex-direction: column-reverse;
    justify-content: center;
    height: 143px; }
  .footer__social {
    margin-left: 0; }
  .footer__copy {
    font-size: 14px;
    margin: 27px 0 0; } }

@media (max-width: 376px) {
  .header__menu {
    padding: 16px 18px; }
  .header__icon {
    display: none; }
  .header__cart {
    display: none; }
  .hero__brand_left {
    display: none; }
  .hero__brand_right {
    justify-content: center;
    align-items: center;
    padding-left: 0;
    flex-basis: 100%; }
  .hero__title {
    margin-right: 0;
    font-size: 20px;
    font-weight: 900; }
    .hero__title_huge {
      font-size: 38px;
      font-weight: 700; }
  .new-arrivals__wrap {
    flex-direction: column;
    justify-content: space-evenly; }
  .new-arrivals__title {
    margin: 0; }
  .filterLabel {
    display: none; }
  .filterIcon {
    margin-left: 0; }
  .filters__wrap {
    padding: 0 8px; }
  .swiper-container {
    height: 624px; }
  .swiper-slide {
    width: 375px;
    height: 624px; }
    .swiper-slide__img {
      width: 374px;
      height: 454px;
      margin: 85px 0; }
  .collection__description {
    line-height: 20px;
    padding: 0 24px; }
  .collection__dropdown {
    margin-top: 82px; }
    .collection__dropdown::before {
      width: 175px;
      left: 85px;
      bottom: 65px; }
    .collection__dropdown_quantity:last-child {
      margin-right: -10px; }
    .collection__dropdown_title {
      font-size: 10px;
      line-height: 12px; }
  .collection-products {
    padding: 64px 0; }
    .collection-products__list {
      grid-template-columns: 1fr;
      grid-gap: 0;
      padding: 0 16px; }
    .collection-products__card_2 {
      display: none; }
    .collection-products__card_3 {
      display: inline-block; }
  .catalog__list {
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding: 0 8px; }
  .catalog__img {
    width: 342px; }
  .catalog__card_3 {
    display: none; }
  .offer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px) 111px;
    grid-gap: 32px; }
  .products-title {
    margin-bottom: 64px; }
  .products__items {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 0 8px; }
  .products__button {
    margin-top: 41px; }
  .services {
    margin-top: 96px; }
    .services__item {
      grid-template-columns: 1fr;
      grid-gap: 46px;
      padding: 48px 0 81px; }
  .shopping__inner {
    justify-items: center; }
  .purchase__wrap {
    padding: 0 9px;
      padding-margin-top: 39px; }
  .purchase__cart_right {
    flex-direction: column;
    margin-bottom: 96px; }
  .purchase__box {
    width: 100%; }
  .purchase__img {
    width: 144px;
    height: 188px; }
    .purchase__img_bg {
      width: 144px;
      height: 188px; }
  .purchase__inner {
    width: initial;
    margin-top: 13px;
    margin-left: 17px; }
  .purchase__title {
    font-size: 16px;
    line-height: 19px;
    width: 143px;
    margin-bottom: 26px; }
  .purchase__desc {
    font-size: 14px;
    line-height: 17px; }
  .purchase__input {
    width: 24px;
    height: 15px;
    font-size: 10px;
    margin-left: 15px; }
  .purchase__close {
    width: 11px;
    height: 11px;
    top: 17px;
    right: 12px; }
  .purchase__btn {
    margin: 0 0 48px; }
  .purchase__button {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 12px;
    font-family: 'Lato-Refular' , sans-serif; }
  .purchase__address {
    width: 340px; }
  .checkout {
    width: 340px;
    margin-left: 0;
    margin-top: 48px; }
  .subscribe__item {
    flex-direction: column;
    padding: 64px 5px 110px; }
  .subscribe__box {
    margin-bottom: 58px; }
  .subscribe__description {
    font-size: 18px; }
  .subscribe__subtitle {
    font-size: 14px; }
  .subscribe__input {
    width: 220px;
    height: 45px; }
  .subscribe__submit {
    padding: 15px 23px; }
  .footer__wrap {
    flex-direction: column-reverse;
    justify-content: center;
    height: 143px; }
  .footer__copy {
    margin: 0; }
  .footer__social {
    margin: 43px 0  40px; } }

@media (max-width: 320px) {
  .hero__brand_right {
    padding: 0 10px; }
  .hero__title {
    font-size: 18px; }
    .hero__title_huge {
      font-size: 36px; }
  .filters__right_title {
    font-size: 10px;
    margin: 0 9px 0 18px; }
  .catalog__img {
    width: 100%; }
  .purchase__close {
    top: 8px;
    right: 6px; }
  .purchase__title {
    font-size: 12px;
    width: 100px; }
  .purchase__address {
    width: 285px; }
  .purchase__button {
    font-size: 10px;
    padding: 9px 10px; }
  .checkout {
    width: 285px; }
  .products__title {
    margin-top: 0;
    margin-bottom: 10px; }
  .products__subtitle {
    font-size: 17px;
    width: 280px;
    margin: 0 auto; }
  .collection__dropdown {
    padding: 0 10px; }
    .collection__dropdown::before {
      width: 280px;
      left: 10px; }
  .services__description {
    font-size: 12px;
    padding: 0 10px;
    width: 279px; }
  .subscribe__input {
    width: 178px;
    height: 47px; }
  .subscribe__description {
    width: 300px;
    font-size: 16px;
    padding: 0 10px; } }

div.invalidSubscribe {
  top: 50px;
  right: 5px; }
